extends layout

block content
	h1= title
	p Welcome to #{title}
	a(href="http://www.google.com", rel="external") Google
	div(class='sf')
		select(class='styled')
			option value1
			option value2
	div(class='sf')
		select(class='styled')
			option value3
			option value4

block footer
	footer copyright &copy; 2012