extends layout

block content
	h1= title
	p Welcome to #{title}
	form#form_testing(action="#")
		fieldset
			legend Testing external links		
			a(href="http://www.google.com", rel="external") Google
		fieldset
			legend Testing fakeInput styled select
			div.sf
				select.styled(name="selected1")
					option(value="v1") value1
					option(value="v2") value2
			div.sf
				select.styled(name="selected2")
					option(value="v3") value3
					option(value="v4") value4
		fieldset
			legend Testing placeholder * impacts IE only
			div.sf
				input(name="useremail", type="email", placeholder="text me here...", required="true")
			div.sf
				input(name="pwd", type="password", placeholder="password me here...")
			div.sf
				input#btn_submit(type="submit", name="submit", value="submit")
		fieldset
			legend Testing columns
			div.main(style="height:1000px;position:relative;")
				div#floating(style="position:absolute;right:300px;margin:0;")
					ul.list
						li something floating
						li something floating
						li something floating
						li something floating
				div.comeone
					p column1
				div.comeone
					p column2
				div.comeone
					p column3
				div.comeone
					p column4

block footer
	footer copyright &copy; 2012